*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: black;
}

.study-bg {
    background-color: rgba(255, 0, 0, 0.5);
}

.relax-bg {
    background-color: rgba(0, 128, 0, 0.5);
}

#settings {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.5rem;
    padding: .5em;
    border-radius: 20px;
}

#settings:hover,
#settings:focus {
    background-color: rgb(203, 196, 196);
}

#settings:active {
    border: 3px solid black;
}

#start {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.5rem;
    padding: .5em;
    border-radius: 20px;
}

#start:hover,
#start:focus {
    background-color: rgb(203, 196, 196);
}

#start:active {
    border: 3px solid black;
}

.d-none{
    display: none;
}